.container{
    font-family: 'Barlow', sans-serif;
}

label{
    font-size: 16px;
}

.buttonOptions{
    font-size: 16px;
}

button{
    font-size: 16px;
}

a:hover{
    cursor: pointer;
}

tr:hover{
    cursor: pointer;
}